@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist;
<h1>Add a new stylist</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName, "Name:")
  @Html.TextBoxFor(model => model.StylistName, null, new { required = "required" })
  <input type="submit" value="Add a new stylist" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Show all stylists", "Index")</p>